<!DOCTYPE html>
<html>
  <head>
    <title>Secure Real-Time Multiplayer Game</title>
    <meta
      name="description"
      content="An example for the fCC QA Secure Real-Time Multiplayer Game project"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  </head>
  <body>
    <header>
      <h1>
        Information Security - Secure Real-Time Multiplayer Game
      </h1>
    </header>
    <div id="userstories">
      <h3>User Stories</h3>
      <ol>
        <li>
          Prevent the client from trying to guess / sniff the MIME type.
        </li>
        <li>
          Prevent cross-site scripting (XSS) attacks.
        </li>
        <li>
          Nothing from the website is cached in the client.
        </li>
        <li>
          The headers say that the site is powered by 'PHP 7.4.3' even though it isn't (as a security measure).
        </li>
        <li>
          Develop a real time multiplayer game using the HTML Canvas API and <a href="https://socket.io/">Socket.io</a> that:
          <ol>
            <li>
              Allows multiple players to connect to a server and play.
            </li>
            <li>
              Keeps all player in sync.
            </li>
            <li>
              Allows players to disconnect at any time and updates the game accordingly.
            </li>
          </ol>
          <li>
            All 4 functional tests pass.
          </li>
        </li>
      </ol>
    </div>
    <hr style="margin: 25px" />
    <div class="container">
      <canvas 
        ref="game"
        id="game-window" 
        width="640" 
        height="480"
      >
      </canvas>
    </div>
  </body>
  <!-- <script src="../public/sketch.js"></script> -->
  <!-- <script src="../public/player.js"></script> -->
  <script src="../public/game.mjs" type="module"></script>
</html>
